{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ contact.name }}</title>

	<link rel="stylesheet" type="text/css" href="{% static 'filmstudio.css' %}">
</head>
<body style="background-image: url('{% static 'BG.jpg' %}');">
{% include "navbar/navbar.html" %}

<!-- filmstudio -->
<div class="col-xs-12 col-lg-2"></div>
<div class="col-xs-12 col-lg-8 ">
	<div class="col-xs-12 filmstudio">
		<h3>{{ lang.header }}</h3>
		<p>{{ lang.text|linebreaks }}</p>
		<div class="col-xs-12 filmstudio-gallery">
			{% for i in img %}
			{% spaceless %}
			<div class="col-xs-12 col-lg-3">
				<img src="{{ i.img.url }}" id="{{ i.name }}">
			</div>
			
			<div class="popup" id="{{ i.name }}-popup">
				<img src="{{ i.img.url }}"id="{{ i.name }}-img">
			</div>
			<script type="text/javascript">
				$("#{{ i.name }}").click(function() {
					$("#{{ i.name }}-popup").fadeIn(500);
				});
				$("#{{ i.name }}-popup").click(function() {
					$("#{{ i.name }}-popup").fadeOut(500);
				});
			</script>
			{% endspaceless %}
			{% endfor %}
		</div>
		<div class="col-xs-12 filmstudio-table">
			<table class="table table-striped">
				<tr>
					<th>{{ lang.table_field1 }}</th>
					<th>{{ lang.table_field2 }}</th>
					<th>{{ lang.table_field3 }}</th>
				</tr>
				{% for item in inventory %}
				<tr>
					<td>{{ item.item }}</td>
					<td>{{ item.desc }}</td>
					<td>{{ item.qty }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<h3>{{ lang.videos }}</h3>
		<div class="col-xs-12 videos">
			{% for i in videos %}
			<div class="col-xs-12 video">
				<!--
				<h4>{{ i.name }}</h4>
				-->
				<iframe width="420" height="216" src="{{ i.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</iframe>
			</div>
			{% endfor %}
		</div>
		<h3><a href="/meist"><u>{{ lang.book }}</u></a></h3>
	</div>
</div>
	<div class="col-xs-12 col-lg-2"></div>
	<!-- end of filmstudio -->

	<script type="text/javascript" src="{% static 'filmstudio.js' %}"></script>
	{% include "navbar/footer.html" %}
</body>
</html>